<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.AdviceMapper">
    <!--查找医嘱-->
    <resultMap id="allAdvicve" type="cn.gson.hui_ren_boot.model.pojos.hospital.Advice">
        <id column="advice_serial" property="adviceSerial"/>
        <result column="advice_id" property="adviceId"/>
        <result column="advice_start" property="adviceStart"/>
        <result column="advice_sickbed" property="adviceSickbed"/>
        <result column="staff_name" property="staffName"/>
        <result column="advice_cost" property="adviceCost"/>
        <result column="advice_type" property="adviceType"/>
        <result column="advice_end" property="adviceEnd"/>
        <result column="advice_chinese" property="adviceChinese"/>
        <result column="advice_doctors" property="adviceDoctors"/>
        <result column="register_name" property="registerName"/>

    </resultMap>

    <select id="allDispensing" resultMap="allAdvicve">
        select * from ADVICE  ai left join register hg on ai.register_id=hg.register_id left join staff km on km.staff_id=ai.staff_id
    </select>
    <select id="selectAdvice" resultType="Advice">
        select * from ADVICE
        <where>
            <if test="registerId != null and '' != registerId">
                or register_id = #{registerId}
            </if>
        </where>
    </select>
    <insert id="addAdvice">
        insert  into advice(advice_serial,advice_id,register_id,advice_start,advice_sickbed,staff_name,advice_cost,advice_end,advice_chinese,advice_doctors,register_name)
        values (seq_huiren.nextval,#{adviceId},#{registerId},#{adviceStart},#{adviceSickbed},#{staffName},1,#{adviceEnd},#{adviceChinese},#{adviceDoctors},#{registerName})
    </insert>
</mapper>