<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.BlockupMapper">
    <insert id="addBlockup">
        insert into blockup values (seq_huiren.nextval,#{detailsMark},#{blockupDate},#{staffName},#{registerId},#{blockupWhy},#{adviceId})
    </insert>
</mapper>