<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.BlockupMapper">
    <resultMap id="even" type="cn.gson.hui_ren_boot.model.pojos.medical.Test">
        <id column="test_id" property="testId"/>
        <result column="test_name" property="testName"/>
        <result column="test_sex" property="testSex"/>
        <result column="test_phone" property="testPhone"/>
        <result column="test_time" property="testTime"/>
        <result column="test_money" property="testMoney"/>

    </resultMap>
    <insert id="addBlockup">
        insert into blockup values (seq_huiren.nextval,#{detailsMark},#{blockupDate},#{staffName},#{registerId},#{blockupWhy},#{adviceId})
    </insert>
    <insert id="addTest">-- 添加体检表
        insert into test(test_id,test_name,test_sex,test_phone,test_time,test_money,test_state,test_account) values (seq_huiren.nextval,#{testName},#{testSex},#{testPhone},current_timestamp,#{testMoney},0,#{testAccount})
    </insert>
    <insert id="addTestmiddle">-- 添加体检中间表
        insert into testmiddle values (#{testAccount},#{itemId})
    </insert>
    <select id="selText" resultType="Test">-->
        select*from test  where test_phone=#{testPhone}  order by test_time desc
   </select>
    <select id="allResults" resultType="Combinspection">
        select *from  combinspection where inspection_phone=#{inspectionPhone}
    </select>
<!--    查询患者表-->
    <select id="akkRegister" resultType="register">
        select *from register where register_phone=#{registerPhone}
    </select>
</mapper>