<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.ChangeMapper">
    <insert id="addChange">--新增
        insert into change values (seq_huiren.nextval,#{changeName},#{registerId},#{changeReason},#{changeDoctor},0,current_timestamp,#{medicalName},#{startmedicalName},#{staffName})
    </insert>
    <select id="allChange" resultType="change">--查询
            select *from change where change_state=0
    </select>
    <delete id="deChange">--删除
        delete from change where change_id=#{changeId}
    </delete>
    <select id="asChange" resultType="Change" >
        select * from change
        <where>

            <if test="registerId != null and '' != registerId">
                or REGISTER_ID like '%${registerId}%'
            </if>
            <if test="changeName != null and '' != changeName">
                or change_name like '%${change_name}%'
            </if>
            <if test="changeDoctor != null and '' != changeDoctor">
                or change_doctor like '%${change_doctor}%'
            </if>
            change_state=0
        </where>

    </select>
</mapper>