<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.ComboitemZyMapper">
    <select id="allComboitem" resultType="Comboitem">
        select*from  comboitem
        <where>
            <if test="itemName != null and '' != itemName">
                or item_name like '%${itemName}%'
            </if>
        </where>
    </select>
</mapper>