<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.InspectDebitMapper">
<insert id="addinsert">
    insert into inspect_debit(debit_id,debit_date,debit_money,debit_project,test_phone)values (seq_huiren.nextval,current_timestamp,#{debitMoney},#{debitProject},#{testPhone})
</insert>


</mapper>