<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.OperationMapper">
    <!--查询手术室表只要没在手术中的-->
    <select id="allOperation" resultType="Additional">
        select *from additional
        <where>

                <if test="additionalName != null and '' != additionalName">
                    or additional_name like '%${additionalName}%'
                </if>

        </where>
    </select>
    <!--查询员工表-->
    <select id="allStaff" resultType="Staff">
        select *from staff where rank_id=8 and medical_id=#{medicalId}
    </select>
    <select id="allStaff2" resultType="Staff">
        select *from staff where rank_id=7
    </select>
<!--    <select id="allMedicals" resultType="Medical">-->
<!--&#45;&#45;             select*from medical where medical_name=#{medicalName}-->
<!--     </select>-->
<!--    新增手术申请表-->
    <insert id="addSurgeryfor">
        insert into surgeryfor values(seq_huiren.nextval,#{registerName},#{registerId},#{registerClinic},current_timestamp,0,#{additionalName},#{additionalMoney},#{additionalLevel},#{additionalBlade},#{additionaAnesthesia},#{medicalName},#{surgeryforTime})
    </insert>
    <select id="allSurgeryfor" resultType="Surgeryfor">
        select*from surgeryfor where register_id=#{registerId}
    </select>
<!--    删除申请表-->
    <delete id="deleteSurgeryfor">
        delete from surgeryfor where surgeryfor_id=#{surgeryforId}
    </delete>
<!--    删除手术记录表-->
    <delete id="deApplyrecord">
        delete from applyrecord where apply_time=#{surgeryforDate} and additional_name=#{additionalName}
    </delete>
</mapper>