<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.hospital.RegisterMapper">
    <resultMap id="allRegisMapper" type="cn.gson.hui_ren_boot.model.pojos.hospital.Register">
        <id column="REGISTER_SERICA" property="registerSerica"/>
        <result column="REGISTER_ID" property="registerId"/>
        <result column="REGISTER_DATE" property="registerDate"/>
        <result column="REGISTER_NAME" property="registerName"/>
        <result column="REGISTER_SEX" property="registerSex"/>
        <result column="REGISTER_SITE" property="registerSite"/>
        <result column="REGISTER_CARD" property="registerCard"/>
        <result column="REGISTER_PRINT" property="registerPrint"/>
        <result column="REGISTER_AGE" property="registerAge"/>
        <result column="REGISTER_HOME" property="registerHome"/>
        <result column="REGISTER_ADDRESS" property="registerAddress"/>
        <result column="REGISTER_PHONE" property="registerPhone"/>
        <result column="REGISTER_RELATION" property="registerRelation"/>
        <result column="REGISTER_CONTACT" property="registerContact"/>
        <result column="REGISTER_CALL" property="registerCall"/>
        <result column="REGISTER_RECORD" property="registerRecord"/>
        <result column="REGISTER_CLINIC" property="registerClinic"/>
<!--        科室-->
        <association property="medical" javaType="Medical">
            <id column="MEDICAL_ID" property="medicalId"/>
            <result column="MEDICAL_NAME" property="medicalName"/>
        </association>
        <association property="staff" javaType="Staff" >
            <id column="STAFF_ID" property="staffId"/>
            <result column="STAFF_NAME" property="staffName"/>
        </association>
        <association property="sickbed" javaType="Sickbed">
            <id column="SICKBED_ID" property="sickbedId"/>
            <result column="SICKBED_MARK" property="sickbedMark"/>
            <result column="WARD_MARK" property="wardMark"/>
        </association>
    </resultMap>
    <resultMap id="allRegisMappert" type="cn.gson.hui_ren_boot.model.pojos.hospital.Register">
        <id column="REGISTER_SERICA" property="registerSerica"/>
        <result column="REGISTER_ID" property="registerId"/>
        <result column="REGISTER_DATE" property="registerDate"/>
        <result column="REGISTER_NAME" property="registerName"/>
        <result column="REGISTER_SEX" property="registerSex"/>
        <result column="REGISTER_SITE" property="registerSite"/>
        <result column="REGISTER_CARD" property="registerCard"/>
        <result column="REGISTER_PRINT" property="registerPrint"/>
        <result column="REGISTER_AGE" property="registerAge"/>
        <result column="REGISTER_HOME" property="registerHome"/>
        <result column="REGISTER_ADDRESS" property="registerAddress"/>
        <result column="REGISTER_PHONE" property="registerPhone"/>
        <result column="REGISTER_RELATION" property="registerRelation"/>
        <result column="REGISTER_CONTACT" property="registerContact"/>
        <result column="REGISTER_CALL" property="registerCall"/>
        <result column="REGISTER_RECORD" property="registerRecord"/>
        <result column="REGISTER_CLINIC" property="registerClinic"/>
        <!--        科室-->
        <association property="medical" javaType="Medical">
            <id column="MEDICAL_ID" property="medicalId"/>
            <result column="MEDICAL_NAME" property="medicalName"/>
        </association>
        <association property="staff" javaType="Staff" >
            <id column="STAFF_ID" property="staffId"/>
            <result column="STAFF_NAME" property="staffName"/>
        </association>
        <association property="sickbed" javaType="Sickbed">
            <id column="SICKBED_ID" property="sickbedId"/>
            <result column="SICKBED_MARK" property="sickbedMark"/>
            <result column="WARD_MARK" property="wardMark"/>
        </association>
        <association property="treatment" javaType="TreatmentCard">
            <id column="treatment_id" property="treatmentId"/>
            <result column="treatment_balance" property="treatmentBalance"/>
        </association>
    </resultMap>
   <!-- 查询病人信息-->
    <select id="allRegis" resultMap="allRegisMapper">
        SELECT*from register  hg
            left join sickbed kjs on hg.sickbed_mark=kjs.sickbed_mark
            left join medical o on o.medical_id=hg.medical_id
            left join staff  fh on fh.staff_id=hg.staff_id

     <where>
            <if test="registerId != null and '' != registerId">
                or REGISTER_ID like '%${registerId}%'
            </if>
            <if test="registerName != null and '' != registerName">
                or REGISTER_NAME like '%${registerName}%'
            </if>
            <if test="registerPrint != null and '' != registerPrint">
                or REGISTER_PRINT like '%${registerPrint}%'
            </if>
            <if test="registerHome != null and '' != registerHome">
                or REGISTER_HOME like '%${registerHome}%'
            </if>
            <if test="registerAddress != null and '' != registerAddress">
                or REGISTER_ADDRESS like '%${registerAddress}%'
            </if>
            <if test="registerPhone != null and '' != registerPhone">
                or REGISTER_PHONE like '%${registerPhone}%'
            </if>
            <if test="registerRelation != null and '' != registerRelation">
                or REGISTER_RELATION like '%${registerRelation}%'
            </if>
            <if test="registerContact != null and '' != registerContact">
                or REGISTER_CONTACT like '%${registerContact}%'
            </if>
            <if test="registerCall != null and '' != registerCall">
                or REGISTER_CALL like '%${registerCall}%'
            </if>
            <if test="registerRecord != null and '' != registerRecord">
                or REGISTER_RECORD like '%${registerRecord}%'
            </if>
            <if test="registerClinic != null and '' != registerClinic">
                or REGISTER_CLINIC like '%${registerClinic}%'
            </if>
        </where>
        order by hg.register_date desc
    </select>
<!--    查询病人缴费信息-->
    <select id="allRegist" resultMap="allRegisMappert">
        SELECT*from register  hg
            left join sickbed kjs  on hg.sickbed_mark=kjs.sickbed_mark
            left join  medical o on o.medical_id=hg.medical_id
            left join staff  fh on fh.staff_id=hg.staff_id
            left join treatment_card kjh on  kjh.treatment_no=hg.register_clinic
        <where>

            <if test="registerName != null and '' != registerName">
                or REGISTER_NAME like '%${registerName}%'
            </if>
            <if test="registerPhone != null and '' != registerPhone">
                or REGISTER_PHONE like '%${registerPhone}%'
            </if>
            <if test="registerClinic != null and '' != registerClinic">
                or REGISTER_CLINIC like '%${registerClinic}%'
            </if>
            <if test="registerId != null and '' != registerId">
                or REGISTER_ID  like '%${registerId}%'
            </if>
            <if test="registerId != null and '' != registerId">
                or REGISTER_ID  like '%${registerId}%'
            </if>
            <if test="medicalId != null and '' != medicalId">
                or medical_id  like '%${medicalId}%'
            </if>
            <if test="staffId != null and '' != staffId">
                or hg.staff_id = #{staffId}
            </if>
        </where>
        order by hg.register_date desc
    </select>
<!--    查询科室-->
    <select id="allMedica" resultType="Medical">
        select*from MEDICAL
     </select>
<!--    添加病人信息-->
    <insert id="addRegister">
        insert into register (register_serica,register_id,register_date,register_name,register_sex,register_site,
                register_card,register_print,register_age,register_home,register_address,register_phone,register_relation,
                register_contact,register_call,medical_id,register_record,register_clinic)
            values(seq_huiren.nextval,#{registerId},systimestamp,#{registerName}
                ,#{registerSex},#{registerSite},#{registerCard},#{registerPrint},
                #{registerAge},#{registerHome},#{registerAddress},#{registerPhone},
                #{registerRelation},#{registerContact},#{registerCall},#{medicalId},
                 #{registerRecord},#{registerClinic})
    </insert>
    <!--修改个人信息-->
    <update id="upRegister">
        update register set register_name=#{registerName},
        register_card=#{registerCard},register_print=#{registerPrint},
        register_site=#{registerSite}, register_sex=#{registerSex},
        register_home=#{registerHome},register_age=#{registerAge},
        register_address=#{registerAddress},register_phone=#{registerPhone},
        register_relation=#{registerRelation},register_contact=#{registerContact},
        register_call=#{registerCall} where register_serica=#{registerSerica}
    </update>
    <!-- 转科-->
    <update id="upMajor">
        update register set medical_id=#{medicalId} where register_id=#{registerId}
    </update>

<!--    //查询诊疗卡-->
    <select id="allRegiMedical" resultType="Register">
        select*from register where register_clinic=#{registerClinic} and register_id=#{registerId}
    </select>
<!-- 充值修改金额-->
    <update id="upMedicalCard">
        update TREATMENT_CARD set TREATMENT_BALANCE=#{treatmentBalance} where TREATMENT_NO=#{treatmentNo}
    </update>
<!-- 新增充值记录 -->
    <insert id="reCharge">
        insert into TREATMENT_RECHARGE values (seq_huiren.nextval,#{treatmentNo},current_timestamp,#{rechargeMoney})
    </insert>
    <!--查询诊疗卡余额 -->
    <select id="selRecharge" resultType="TreatmentCard">
        select*from TREATMENT_CARD where TREATMENT_NO=#{treatmentNo}
    </select>
    <!--查询诊疗卡 -->
    <select id="selseRecharge" resultType="TreatmentRecharge">
        select*from treatment_recharge where treatment_no=#{treatmentNo}
    </select>
</mapper>