<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.drug.OrderDetailsMapper">
    <!-- 批量新增采购订单详表 -->
    <insert id="addOrderDetails">
        insert into order_details
        select seq_huiren.nextval,orders_id,orders_num,orders_product,orders_sum,orders_date,orders_price,orders_batch,order_indate from
        <foreach collection="orderDetails" item="o" index="i" separator=" " open="(" close=")">
            <if test="i!=orderDetails.size()-1">
                select #{o.ordersId} as orders_id,#{o.ordersNum} as orders_num,#{o.ordersProduct} as orders_product,#{o.ordersSum} as orders_sum,#{o.ordersDate} as orders_date,#{o.ordersPrice} as orders_price,#{o.ordersBatch} as orders_batch,#{o.orderIndate} as order_indate from dual
                union
            </if>
            <if test="i==orderDetails.size()-1">
                select #{o.ordersId} as orders_id,#{o.ordersNum} as orders_num,#{o.ordersProduct} as orders_product,#{o.ordersSum} as orders_sum,#{o.ordersDate} as orders_date,#{o.ordersPrice} as orders_price,#{o.ordersBatch} as orders_batch,#{o.orderIndate} as order_indate from dual
            </if>
        </foreach>
    </insert>
</mapper>