<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.pharmacy.TransfersMapper">
    <resultMap id="TransfersMapper" type="cn.gson.hui_ren_boot.model.pojos.pharmacy.Transfers">
        <id column="TRANSFERS_ID" property="transfersId"/>
        <result column="TRANSFERS_DATE" property="transfersDate"/>
        <result column="TRANSFERS_TIME" property="transfersTime"/>
        <association property="users" javaType="cn.gson.hui_ren_boot.model.pojos.permissions.UserInfo">
            <id column="USER_ID" property="userId"/>
            <result column="USER_NAME" property="userName"/>
        </association>
        <association property="deports" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.DrugDeport">
            <id column="DEPORT_ID" property="deportId"/>
            <result column="DEPORT_NAME" property="deportName"/>
        </association>
        <association property="pharmacys" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.Pharmacy">
            <id column="PHARMACY_ID" property="pharmacyId"/>
            <result column="PHARMACY_NAME" property="pharmacyName"/>
        </association>
        <association property="banks" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.GoBank">
            <id column="GO_ID" property="goId"/>
            <result column="GO_NUM" property="goNum"/>
        </association>
    </resultMap>
    <select id="allTransfers" resultMap="TransfersMapper">
        select * from TRANSFERS ts
            left join USER_INFO us on ts.TRANSFERS_EXECUTOR=us.USER_ID
            left join DRUG_DEPORT dd on ts.TRANSFERS_DEPORT=dd.DEPORT_ID
            left join PHARMACY pm on ts.TRANSFERS_PHARMACY=pm.PHARMACY_ID
            left join GO_BANK gb on ts.TRANSFERS_GO=gb.GO_ID
    </select>
</mapper>