<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.pharmacy.TransfersMapper">
    <resultMap id="TransfersMapper" type="cn.gson.hui_ren_boot.model.pojos.pharmacy.Transfers">
        <id column="TRANSFERS_ID" property="transfersId"/>
        <result column="TRANSFERS_DATE" property="transfersDate"/>
        <result column="TRANSFERS_TIME" property="transfersTime"/>
        <result column="TRANSFERS_ORDER" property="transfersOrder"/>
        <association property="userInfos" javaType="cn.gson.hui_ren_boot.model.pojos.permissions.UserInfo">
            <id column="USER_ID" property="userId"/>
            <result column="USER_NAME" property="userName"/>
        </association>
        <association property="deports" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.DrugDeport">
            <id column="DEPORT_ID" property="deportId"/>
            <result column="DEPORT_NAME" property="deportName"/>
        </association>
        <association property="pharmacys" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.Pharmacy">
            <id column="PHARMACY_ID" property="pharmacyId"/>
            <result column="PHARMACY_NAME" property="pharmacyName"/>
        </association>
        <association property="banks" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.GoBank">
            <id column="GO_ID" property="goId"/>
            <result column="GO_NUM" property="goNum"/>
        </association>

        <collection property="allocatings" ofType="cn.gson.hui_ren_boot.model.pojos.pharmacy.Allocating">
            <id column="ALL_SERIAL" property="allSerial"/>
            <result column="ALL_ID" property="allId"/>
            <result column="ALL_DRUG" property="allDrug"/>
            <result column="ALL_SUM" property="allSum"/>
            <result column="TRANSFERS_ID" property="transfersId"/>
            <association property="drugInfos" javaType="cn.gson.hui_ren_boot.model.pojos.pharmacy.DrugInfo">
                <id column="DRUG_SERIAL" property="drugSerial"/>
                <result column="DRUG_ID" property="drugId"/>
                <result column="DRUG_NAME" property="drugName"/>
            </association>
        </collection>
    </resultMap>
    <select id="allTransfers" resultMap="TransfersMapper">
        select * from TRANSFERS ts
                          left join DRUG_DEPORT dd on ts.TRANSFERS_DEPORT=dd.DEPORT_ID
                          left join PHARMACY pm on ts.TRANSFERS_PHARMACY=pm.PHARMACY_ID
                          left join GO_BANK gb on ts.TRANSFERS_GO=gb.GO_ID
                          left join ALLOCATING ac on ts.TRANSFERS_ID=ac.TRANSFERS_ID
                          left join USER_INFO ui on ts.TRANSFERS_REVIEWER=ui.USER_ID
                          left join DRUG_INFO di on ac.ALL_SERIAL=di.DRUG_SERIAL
    </select>
   <!-- 新增-->
    <insert id="addTransfers">
        insert into TRANSFERS(TRANSFERS_ID,TRANSFERS_TIME,TRANSFERS_DEPORT,TRANSFERS_PHARMACY,TRANSFERS_ORDER,TRANSFERS_REVIEWER)
        values(seq_huiren.nextval,#{transfersTime},#{transfersDeport},#{transfersPharmacy},#{transfersOrder},#{users})
    </insert>
</mapper>