<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--缴费详情表-->
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.outpatient.PaymentDetaiMapper">
    <resultMap id="detaiMap" type="cn.gson.hui_ren_boot.model.pojos.outpatient.PaymentDetai">
        <id column="DETAIL_ID" property="detailId"/>
        <result column="DETAIL_NO" property="detailNo"/>
        <result column="PAYMENT_NO" property="paymentNo"/>
        <result column="ENTRY_NAME" property="entryName"/>
        <result column="AMOUNT" property="amount"/>
        <result column="PAYMENT_PRICE" property="paymentPrice"/>
        <result column="PRESCRIPTION_NO" property="prescriptionNo"/>
    </resultMap>

    <insert id="addPaymentDetail">
        insert into payment_detai
        select seq_huiren.nextval,DETAIL_NO,PAYMENT_NO,ENTRY_NAME,AMOUNT,PAYMENT_PRICE,PRESCRIPTION_NO from
        <foreach collection="prescriptionDetails" item="p" index="i" separator=" " open="(" close=")">
            <if test="i != prescriptionDetails.size()-1">
                select #{p.detailNo} as DETAIL_NO,#{paymentNo} as PAYMENT_NO,#{p.drugName} as ENTRY_NAME,
                      #{p.subtotal} as AMOUNT,#{p.drug.drugSelling} as PAYMENT_PRICE,
                       #{p.prescriptionNo} as PRESCRIPTION_NO
                from dual union
            </if>
            <if test="i == prescriptionDetails.size()-1">
                select #{p.detailNo} as DETAIL_NO,#{paymentNo} as PAYMENT_NO,#{p.drugName} as ENTRY_NAME,
                #{p.subtotal} as AMOUNT,#{p.drug.drugSelling} as PAYMENT_PRICE,
                #{p.prescriptionNo} as PRESCRIPTION_NO
                from dual
            </if>
        </foreach>
    </insert>

    <!--根据缴费号查询缴费详单-->
    <select id="selPaymentDetail" resultMap="detaiMap">
        select * from payment_detai where PAYMENT_NO = #{paymentNo}
    </select>
</mapper>