<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--缴费表-->
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.outpatient.PaymentFormMapper">
    <resultMap id="paymentMap" type="cn.gson.hui_ren_boot.model.pojos.outpatient.PaymentForm">
        <id column="PAYMENT_ID" property="paymentId"/>
        <result column="PAYMENT_NO" property="paymentNo"/>
        <result column="RECORDS_NO" property="recordsNo"/>
        <result column="PAYMENT_MONEY" property="paymentMoney"/>
        <result column="PAYMENT_TIME" property="paymentTime"/>
        <association property="outpatientRegister" javaType="OutpatientRegister">
            <id column="OUTPATIENT_ID" property="outpatientId"/>
            <result column="OUTPATIENT_NAME" property="outpatientName"/>
            <result column="OUTPATIENT_SEX" property="outpatientSex"/>
            <result column="OUTPATIENT_BIRTH" property="outpatientBirth"/>
            <result column="OUTPATIENT_AGE" property="outpatientAge"/>
            <result column="OUTPATIENT_MARRY" property="outpatientMarry"/>
            <result column="OUTPATIENT_VOCATION" property="outpatientVocation"/>
            <result column="OUTPATIENT_NATIVE" property="outpatientNative"/>
            <result column="OUTPATIENT_NATION" property="outpatientNation"/>
            <result column="OUTPATIENT_CARD" property="outpatientCard"/>
            <result column="OUTPATIENT_WORK" property="outpatientWork"/>
            <result column="OUTPATIENT_PHONE" property="outpatientPhone"/>
            <result column="OUTPATIENT_ADDRESS" property="outpatientAddress"/>
            <result column="OUTPATIENT_WEIGHT" property="outpatientWeight"/>
            <result column="OUTPATIENT_BLOOD" property="outpatientBlood"/>
        </association>
        <association property="staff" javaType="Staff">
            <id column="STAFF_ID" property="staffId"/>
            <result column="STAFF_NAME" property="staffName"/>
            <result column="STAFF_PHONE" property="staffPhone"/>
            <result column="SECTION_ID" property="sectionId"/>
            <result column="MEDICAL_ID" property="medicalId"/>
            <result column="RANK_ID" property="rankId"/>
            <result column="STAFF_STATE" property="staffState"/>
            <result column="STAFF_CARD" property="staffCard"/>
        </association>
    </resultMap>
    <!--新增缴费记录-->
    <insert id="addPayment">
        insert into payment_form values (seq_huiren.nextval,#{paymentNo},#{recordsNo},#{paymentMoney},current_timestamp,#{staffId},#{paymentType},#{paymentSum},#{paymentSmall})
    </insert>

    <!--查询缴费记录-->
    <select id="selPayment" resultType="cn.gson.hui_ren_boot.model.pojos.outpatient.PaymentVo">
        select * from payment_form pf
                          left join staff st on pf.staff_id = st.staff_id
                          left join medical_record_info mr on pf.records_no = mr.records_no
                          left join treatment_card tc on mr.treatment_no = tc.treatment_no
                          left join outpatient_register pr on tc.treatment_card  = pr.outpatient_card
        <where>
            <if test="start != null and '' != start and end != null and '' != end">
                to_char(pf.PAYMENT_TIME,'yyyy-MM-dd') between #{start} and #{end}
            </if>
            <if test="paymentType != null and '' != paymentType">
                and pf.PAYMENT_TYPE = #{paymentType}
            </if>
            <if test="outpatientName != null and '' != outpatientName">
                and pr.OUTPATIENT_NAME = #{outpatientName}
            </if>
            <if test="staffName != null and '' != staffName">
                and st.STAFF_NAME = #{staffName}
            </if>
        </where>
    </select>

    <!--挂号时新增收费表-->
    <insert id="sendPayment">
        insert into payment_form values (seq_huiren.nextval,#{paymentNo},#{recordsNo},#{paymentMoney},current_timestamp,#{staffId},#{paymentType},#{paymentSum},#{paymentSmall})
    </insert>
</mapper>