<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--门诊处方详单-->
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.outpatient.PrescriptionDetailMapper">
    <resultMap id="detailMap" type="cn.gson.hui_ren_boot.model.pojos.outpatient.PrescriptionDetail">
        <id column="RECIPEL_NO" property="recipelNo"/>
        <result column="PRESCRIPTION_NO" property="prescriptionNo"/>
        <result column="DRUG_NAME" property="drugName"/>
        <result column="DOSE" property="dose"/>
        <result column="DRUG_ROUTE" property="drugRoute"/>
        <result column="DRUG_USE" property="drugUse"/>
        <result column="DRUG_NEXT" property="drugNext"/>
        <result column="AGGREGATE" property="aggregate"/>
        <result column="DRUG_BIG" property="drugBig"/>
        <result column="INJECT" property="inject"/>
        <result column="CARRY_OUT" property="carryOut"/>
        <result column="SUBTOTAL" property="subtotal"/>
        <result column="type_id" property="typeId"/>
        <association property="drug" javaType="DrugInfo">
            <id column="DRUG_SERIAL" property="drugSerial"/>
            <result column="DRUG_ID" property="drugId"/><!--药品编码-->
            <result column="DRUG_NAME" property="drugName"/><!--药品名称-->
            <result column="DRUG_SELLING" property="drugSelling"/><!--中售价-->
            <association property="types" javaType="DrugType">
                <id column="TYPE_ID" property="typeId"/>
                <result column="TYPE_NAME" property="typeName"/>
            </association>
        </association>
        <association property="standards" javaType="DrugStandard">
            <id column="STANDARD_ID" property="standardId"/>
            <result column="STANDARD_NAME" property="standardName"/>
            <result column="STANDARD_NUM" property="standardNum"/>
            <result column="STANDARD_DOSAGE" property="standardDosage"/>
            <result column="STANDARD_USE" property="standardUse"/>
        </association>
    </resultMap>

    <!--批量新增门诊西药处方详单-->
    <insert id="addDetail" parameterType="java.util.List">
        insert all into prescription_detail(RECIPEL_NO,PRESCRIPTION_NO,DRUG_NAME,DRUG_USE,
        DRUG_NEXT,AGGREGATE,DRUG_BIG,STANDARD_NAME,SUBTOTAL)
        <foreach collection="details" item="d" index="i" separator=" ">
            <if test="i!=details.size()-1">
                into prescription_detail(RECIPEL_NO,PRESCRIPTION_NO,DRUG_NAME,DRUG_USE,
                DRUG_NEXT,AGGREGATE,DRUG_BIG,STANDARD_NAME,SUBTOTAL)
                values(#{d.recipelNo},#{prescriptionNo},#{d.drugName},#{d.drugUse},#{d.drugNext},
                #{d.aggregate},#{d.drugBig},#{d.standards.standardName},#{d.subtotal})
            </if>
            <if test="i==details.size()-1">
                select #{d.recipelNo},#{prescriptionNo},#{d.drugName},#{d.drugUse},#{d.drugNext},
                #{d.aggregate},#{d.drugBig},#{d.standards.standardName},#{d.subtotal} from dual
            </if>
        </foreach>
    </insert>

    <!--批量新增门诊中药处方详单-->
    <insert id="addChineseDetail" parameterType="java.util.List">
        insert all into prescription_detail(RECIPEL_NO,PRESCRIPTION_NO,DRUG_NAME,
        DOSE,DRUG_BIG,SUBTOTAL)
        <foreach collection="details" item="d" index="i" separator=" ">
            <if test="i!=details.size()-1">
                into prescription_detail(RECIPEL_NO,PRESCRIPTION_NO,DRUG_NAME,
                DOSE,DRUG_BIG,SUBTOTAL)
                values(#{d.recipelNo},#{prescriptionNo},#{d.drugName},
                #{d.dose},#{d.drugBig},#{d.subtotal})
            </if>
            <if test="i==details.size()-1">
                select #{d.recipelNo},#{prescriptionNo},#{d.drugName},
                #{d.dose},#{d.drugBig},#{d.subtotal} from dual
            </if>
        </foreach>
    </insert>

    <!--根据处方号查询处方详单-->
    <select id="selNo" resultMap="detailMap">
        select * from
            (select PRESCRIPTION_NO,di.DRUG_ID,pd.DRUG_NAME,STANDARD_NAME,pd.DRUG_BIG,AGGREGATE,DOSE,di.DRUG_SELLING,SUBTOTAL,dt.TYPE_ID
             from prescription_detail pd
                      left join drug_info di on pd.drug_name = di.drug_name
                      left join drug_type dt on di.type_id = dt.type_id
             union all
             select TEST_NUMBER as PRESCRIPTION_NO,cm.ITEM_NUMBER as DRUG_ID,td.ITEM_NAME as DRUG_NAME,null as STANDARD_NAME,
                    null as DRUG_BIG,ITEM_COUNT as AGGREGATE,null as DOSE,td.ITEM_MONEY as DRUG_SELLING,td.ITEM_MONEY as SUBTOTAL,null as TYPE_ID
             from test_detail td
                      left join comboitem cm on td.item_name = cm.item_name
            )detail
        where detail.PRESCRIPTION_NO = #{prescriptionNo}
    </select>

    <select id="selMedicine" resultMap="detailMap">
        select * from prescription_detail pd left join prescription_list pl on pd.prescription_no = pl.prescription_no
        where pl.records_no = #{recordsNo}
    </select>
</mapper>