<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.outpatient.TreatmentLossMapper">
    <!--新增诊疗卡挂失-->
    <insert id="addLoss">
        insert into TREATMENT_LOSS values (seq_huiren.nextval,#{treatmentNo},current_timestamp )
    </insert>
</mapper>