<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.permissions.DepartureMapper">

    <!-- 新增离职记录表 -->
    <insert id="addDeparture">
        insert into departure values (seq_huiren.nextval,#{deWhy},current_timestamp,#{staffId})
    </insert>
</mapper>