<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.pojos.permissions.Roleinfo">
   <!-- 结果集映射 -->
    <resultMap id="roleMapper" type="cn.gson.hui_ren_boot.model.pojos.permissions.Roleinfo">
        <id property="roleinfoId" column="roleinfo_id"/>
        <result property="roleinfoName" column="roleinfo_name"/>
        <result property="roleinfoSuperior" column="roleinfo_superior"/>
    </resultMap>

    <!-- 查询所有角色 -->
    <select id="allRole" resultMap="roleMapper">
        select * from roleinfo
        <where>
            <if test="roleinfoName != null and '' != roleinfoName">
                and roleinfo_name like '%${roleinfoName}%'
            </if>
        </where>
    </select>
</mapper>