<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.permissions.UserMapper">
    <resultMap id="userMapper" type="cn.gson.hui_ren_boot.model.pojos.permissions.UserInfo">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPossword" column="user_possword"/>
        <result property="staffId" column="STAFF_ID"/>
    </resultMap>
    <!-- 登录 -->
    <select id="allUser" resultMap="userMapper">
        select * from user_info us inner join staff s on us.staff_id = s.staff_id where user_name = #{userName} and user_possword = #{userPossword} and s.staff_state = 0
    </select>

    <!-- 新增用户 -->
    <insert id="addUser">
        insert into user_info values(seq_huiren.nextval,#{userName},#{userPossword},#{staffId})
    </insert>

    <!-- 全字段修改或修改单个字段 -->
    <update id="updateUser">
        update user_info
        <set>
            user_id = #{userId},
            <if test="userName !=null and userName!='' ">
                user_name = #{userName},
            </if>
            <if test="userPossword != null and userPossword !=''">
                user_possword = #{userPossword}
            </if>
        </set>
        where  user_id = #{userId}
    </update>


</mapper>