<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.medical.ComboitemMapper">
    <!-- 体检项目结果集映射-->
    <resultMap id="seeAll" type="cn.gson.hui_ren_boot.model.pojos.medical.Comboitem">
        <id property="itemId" column="ITEM_ID"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="itemOffice" column="ITEM_OFFICE"/>
        <result property="itemMoney" column="ITEM_MONEY"/>
        <result property="itemType" column="ITEM_TYPE"/>
    </resultMap>

    <!-- 查询所有体检项目 -->
    <select id="selectAll" resultType="cn.gson.hui_ren_boot.model.pojos.medical.Comboitem">
        select * from comboitem
        <where>
            <if test="itemName != null and itemName != ''">
                or ITEM_NAME like '%${itemName}%'
            </if>
            <if test="itemOffice != null and itemOffice != ''">
                or ITEM_OFFICE like '%${itemOffice}%'
            </if>
            <if test="itemType != null and itemType != ''">
                or ITEM_TYPE like '%${itemType}%'
            </if>
        </where>
    </select>
    <!-- 新增体检项目 -->
    <insert id="addComboitem">
        insert into comboitem values(seq_huiren.nextval,#{itemName},#{itemOffice},#{itemMoney},#{itemType},#{itemUnit})
    </insert>
    <!-- 修改体检项目 -->
    <update id="updateComboitem">
        update COMBOITEM set ITEM_NAME = #{itemName},ITEM_OFFICE = #{itemOffice},
            ITEM_MONEY = #{itemMoney},ITEM_TYPE = #{itemType} where ITEM_ID = #{itemId}
    </update>
<!--    删除体检项目，只有刚新增的次可以删除-->
<!--    <delete id="delComboitem">-->
<!--        delete from comboitem where ITEM_ID = #{itemId} -->
<!--    </delete>-->
</mapper>