<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.medical.SurgeryforMapper">
<!--    手术项目-->
<!--    查询手术项目，没有安排手术室的,状态为0的-->
    <select id="selectFor" resultType="cn.gson.hui_ren_boot.model.pojos.hospital.Surgeryfor">
        SELECT * FROM SURGERYFOR
            <where>
                <if test="registerName != null and registerName != ''">
                    register_name like '%${registerName}%'
                </if>
                <if test="registerId != null and registerId != ''">
                    or register_id like '%${registerId}%'
                </if>
                <if test="registerClinic != null and registerClinic != ''">
                    or register_clinic like '%${registerClinic}%'
                </if>
                <if test="additionalName != null and additionalName != ''">
                    or additional_name like '%${additionalName}%'
                </if>
                and SURGERYFOR_STATE = 0
            </where>
    </select>
<!--    查询手术室，0为未使用的，按照科室-->
    <select id="selectOperation" resultType="cn.gson.hui_ren_boot.model.pojos.hospital.Operation">
        SELECT * FROM OPERATION
        <where>
            OPERATION_SITE = 0
            <if test="medicalName != ''">
                and MEDICAL_NAME = #{medicalName}
            </if>
        </where>
    </select>


<!--    修改手术室的状态，（安排了手术后，手术室的状态改为1，已安排）-->
    <update id="updateOperation">
        UPDATE OPERATION SET OPERATION_SITE = 1 WHERE OPERATION_ID = #{operationId}
    </update>

<!--    执行手术后修改手术室的状态-->
    <update id="updateOperations">
        UPDATE OPERATION SET OPERATION_SITE = 0 WHERE OPERATION_ID = #{operationId}
    </update>

<!--    修改病人手术状态为1，已安排手术室，根据住院号进行修改-->
    <update id="updateFor">
        UPDATE SURGERYFOR SET SURGERYFOR_STATE = 1 WHERE REGISTER_ID = #{registerId}
    </update>

<!--    新增手术室-->
    <insert id="insertOpeart">
        INSERT INTO OPERATION VALUES(seq_huiren.nextval,#{operationId},#{operationAddress},0,#{medicalName})
    </insert>

<!--    查询手术室-->
    <select id="selOperation" resultType="cn.gson.hui_ren_boot.model.pojos.hospital.Operation">
        SELECT * FROM OPERATION
        <where>
            <if test="operationId != null and operationId != '' ">
                or OPERATION_ID LIKE '%${operationId}%'
            </if>
            <if test="operationAddress != null and operationAddress != '' ">
                or OPERATION_ADDRESS LIKE '%${operationAddress}%'
            </if>
            <if test="medicalName != null and medicalName != '' ">
                or MEDICAL_NAME LIKE '%${medicalName}%'
            </if>
        </where>
    </select>

<!--    修改手术室的位置和所属科室-->
    <update id="xiugaiOperation">
        UPDATE OPERATION set OPERATION_ADDRESS = #{operationAddress}, MEDICAL_NAME = #{medicalName} WHERE OPERATION_ID = #{operationId}
    </update>


</mapper>