<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.medical.TestMapper">
    <resultMap id="select" type="cn.gson.hui_ren_boot.model.pojos.medical.Test">
        <id property="testId" column="TEST_ID"></id>
        <result property="testName" column="TEST_NAME"></result>
        <result property="testSex" column="TEST_SEX"></result>
        <result property="testPhone" column="TEST_PHONE"></result>
        <result property="testGenre" column="TEST_GENRE"></result>
        <result property="testTime" column="TEST_TIME"></result>
        <result property="testMoney" column="TEST_MONEY"></result>
    </resultMap>

    <select id="selectCmobo" resultType="cn.gson.hui_ren_boot.model.pojos.medical.Test">
        select * from test
        <where>
            TEST_STATE = 2
            <if test="testName != null and testName != ''">
                or TEST_NAME like '%${testName}%'
            </if>
            <if test="testPhone != null and testPhone != ''">
                or  TEST_PHONE like '%${testPhone}%'
            </if>
            <if test="testGenre != null and testGenre != ''">
                or TEST_GENRE like '%${testGenre}%'
            </if>
            <if test="testAccount != null and testAccount != ''">
                or TEST_ACCOUNT like  '%${testAccount}%'
            </if>
        </where>
    </select>

<!--    新增-->
    <insert id="insertTest" >
        insert into test values (seq_huiren.nextval,#{testName},#{testSex},#{testPhone},#{testGenre},#{testTime},#{testMoney},#{testState},#{testAccount})
    </insert>

<!--    删除-->
    <delete id="dels">
        delete from test where test_id = #{testId}
    </delete>

    <insert id="addMiddle">
        insert into testmiddle values (#{testId},#{itemId})
    </insert>
</mapper>