<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.medical.TestMapper">
    <resultMap id="select" type="cn.gson.hui_ren_boot.model.pojos.medical.Test">
        <id property="testId" column="TEST_ID"></id>
        <result property="testName" column="TEST_NAME"></result>
        <result property="testSex" column="TEST_SEX"></result>
        <result property="testPhone" column="TEST_PHONE"></result>
        <result property="testGenre" column="TEST_GENRE"></result>
        <result property="testTime" column="TEST_TIME"></result>
        <result property="testMoney" column="TEST_MONEY"></result>
        <association property="cmobo" javaType="cn.gson.hui_ren_boot.model.pojos.medical.Cmobo">
            <id property="comboId" column="COMBO_ID"></id>
            <result property="comboName" column="COMBO_NAME"></result>
            <result property="comboMoney" column="COMBO_MONEY"></result>
            <result property="comboSerial" column="COMBO_SERIAL"></result>
        </association>
    </resultMap>

    <select id="selectCmobo" resultMap="select">
        select * from test t left JOIN cmobo c on c.combo_id = t.test_combo
        <where>
            <if test="testName != null and testName != ''">
                or TEST_NAME = '%${testName}%'
            </if>
        </where>
    </select>

<!--    新增-->
    <insert id="insertTest" >
        insert into test value (seq_huiren.nextval,#{testName},#{testSex},#{testPhone},#{testCombo},
            #{testGenre},#{testTime},10)
    </insert>
</mapper>