<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.medical.ZhuYuanMapper">
    <resultMap id="lookinfos" type="cn.gson.hui_ren_boot.model.pojos.medical.Combinspection">
        <id property="inspectionId" column="inspection_id"/>
        <result property="inspectionName" column="inspection_name"/>
        <result property="inspectionContent" column="inspection_content"/>
        <result property="itemName" column="item_name"/>
        <result property="testId" column="test_id"/>
        <result property="inspectionUnit" column="inspection_unit"/>
        <result property="inspectionPhone" column="inspection_phone"/>
        <result property="inspectionDate" column="inspection_date"/>
        <association property="test" javaType="cn.gson.hui_ren_boot.model.pojos.medical.Test">
            <!--           <id property="testId" column="test_id"/>-->
            <result property="testName" column="test_name"/>
            <result property="testSex" column="test_sex"/>
            <result property="testPhone" column="test_phone"/>
            <result property="testGenre" column="test_genre"/>
            <result property="testMoney" column="test_money"/>
            <result property="testTime" column="test_time"/>
            <result property="testState" column="test_state"/>
            <result property="testAccount" column="test_account"/>
        </association>
        <association property="inspectDebit" javaType="cn.gson.hui_ren_boot.model.pojos.hospital.InspectDebit">
            <id property="debitId" column="debit_id"/>
            <result property="debitDate" column="debit_date"/>
            <result property="debitMoney" column="debit_money"/>
            <result property="debitExecutor" column="debit_executor"/>
            <result property="debitType" column="debit_type"/>
        </association>
    </resultMap>
    <!--    查看检验结果-->
    <select id="lookresultzhu" resultMap="lookinfos">
        select * from COMBINSPECTION co left join TEST te on co.INSPECTION_PHONE = te.TEST_PHONE
            LEFT JOIN INSPECT_DEBIT de on de.test_phone = co.INSPECTION_PHONE where te.test_state = 3 and co.INSPECTION_PHONE = #{inspectionPhone,jdbcType=VARCHAR}
    </select>

<!--    修改检查完后的状态为3-->
    <update id="updateitem">
        update test set test_state = 3 where test_account = #{testAccount}
    </update>

<!--    新增结果-->
    <insert id="zyspection">
        INSERT INTO COMBINSPECTION VALUES(seq_huiren.nextval,#{inspectionName},#{inspectionContent},#{itemName},#{testId},#{comboName},#{inspectionUnit},#{inspectionPhone},current_timestamp)
    </insert>

<!--    查询项目-->
    <select id="zyitem" resultType="cn.gson.hui_ren_boot.model.pojos.medical.Comboitem">
        SELECT * FROM COMBOITEM co LEFT JOIN TESTMIDDLE te ON co.item_id = te.item_id
            LEFT JOIN TEST st ON te.test_account = st.test_account
            WHERE st.test_account = #{testAccount,jdbcType=VARCHAR}

    </select>

<!--    查询住院要检验的-->
    <select id="zycomo" resultType="cn.gson.hui_ren_boot.model.pojos.medical.Test">
        SELECT * FROM TEST
            <where>
                <if test="testName != null and testName != ''">
                    or TEST_NAME like '%${testName}%'
                </if>
                <if test="testPhone != null and testPhone != ''">
                    or  TEST_PHONE like '%${testPhone}%'
                </if>
                <if test="testGenre != null and testGenre != ''">
                    or TEST_GENRE like '%${testGenre}%'
                </if>
                <if test="testAccount != null and testAccount != ''">
                    or TEST_ACCOUNT like '%${testAccount}%'
                </if>
                and not TEST_STATE = 6
                and not TEST_STATE = 5
                and not TEST_STATE = 2
            </where>
    </select>
</mapper>