<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.nursestation.OrdersMapper">
    <resultMap id="allRecord" type="cn.gson.hui_ren_boot.model.pojos.hospital.Record">
        <id property="recordId" column="RECORD_ID"></id>
        <result column="RECORD_SERIAL" property="recordSerial"/>
        <result column="SICKBED_MARK" property="sickbedMark"/>
        <result column="RECORD_NAME" property="recordName"/>
        <result column="RECORD_DATE" property="recordDate"/>
        <association property="register" javaType="cn.gson.hui_ren_boot.model.pojos.hospital.Register">
            <id column="REGISTER_SERICA" property="registerSerica"/>
            <result column="REGISTER_ID" property="registerId"/>
            <result column="REGISTER_DATE" property="registerDate"/>
            <result column="REGISTER_NAME" property="registerName"/>
            <result column="REGISTER_SEX" property="registerSex"/>
            <result column="REGISTER_SITE" property="registerSite"/>
            <result column="REGISTER_CARD" property="registerCard"/>
            <result column="REGISTER_PRINT" property="registerPrint"/>
            <result column="REGISTER_AGE" property="registerAge"/>
            <result column="REGISTER_HOME" property="registerHome"/>
            <result column="REGISTER_ADDRESS" property="registerAddress"/>
            <result column="REGISTER_PHONE" property="registerPhone"/>
            <result column="REGISTER_RELATION" property="registerRelation"/>
            <result column="REGISTER_CONTACT" property="registerContact"/>
            <result column="REGISTER_CALL" property="registerCall"/>
            <result column="REGISTER_RECORD" property="registerRecord"/>
            <result column="REGISTER_CLINIC" property="registerClinic"/>
            <!--        科室-->
            <association property="medical" javaType="Medical">
                <id column="MEDICAL_ID" property="medicalId"/>
                <result column="MEDICAL_NAME" property="medicalName"/>
            </association>
<!--            员工-->
            <association property="staff" javaType="Staff" >
                <id column="STAFF_ID" property="staffId"/>
                <result column="STAFF_NAME" property="staffName"/>
            </association>
        </association>
    </resultMap>
<!--    查询病人-->
    <select id="allBing" resultMap="allRecord">
        SELECT * FROM RECORD c LEFT JOIN REGISTER r ON r.register_id = c.register_id
                 LEFT JOIN STAFF s ON r.staff_id = s.staff_id LEFT JOIN MEDICAL m ON r.medical_id = m.medical_id
    </select>

<!--    查医嘱-->
    <select id="selectAdvice" resultType="cn.gson.hui_ren_boot.model.pojos.hospital.Advice">
        SELECT * FROM ADVICE WHERE advice_cost = 1 AND register_id = #{registerId,jdbcType=VARCHAR}
    </select>

<!--    查医嘱详情-->
    <select id="selectDetails" resultType="cn.gson.hui_ren_boot.model.pojos.hospital.Details">
        SELECT * FROM DETAILS where DARALIS_DSTATE = 0 AND ADVICE_ID = #{adviceId,jdbcType=VARCHAR}
    </select>

<!--    新增执行记录-->
    <insert id="insertOrders">
        INSERT INTO ORDERS VALUES(seq_huiren.nextval,#{ordersUser},current_timestamp ,#{orderDetails},#{ordersId})
    </insert>

<!--    修改医嘱详情状态-->
    <update id="updateOrder">
        UPDATE DETAILS SET DARALIS_DSTATE = 2 WHERE DARALIS_MARK = #{daralisMark}
    </update>

    <resultMap id="selectDetails" type="cn.gson.hui_ren_boot.model.pojos.hospital.Advice">
        <id column="advice_serial" property="adviceSerial"/>
        <result column="advice_id" property="adviceId"/>
        <result column="advice_start" property="adviceStart"/>
        <result column="advice_sickbed" property="adviceSickbed"/>
        <result column="staff_name" property="staffName"/>
        <result column="advice_cost" property="adviceCost"/>
        <result column="advice_type" property="adviceType"/>
        <result column="advice_end" property="adviceEnd"/>
        <result column="advice_chinese" property="adviceChinese"/>
        <result column="advice_doctors" property="adviceDoctors"/>
        <result column="register_name" property="registerName"/>
        <result column="register_id" property="registerId"/>
<!--        医嘱详情-->
        <collection property="details" resultMap="daisy">

        </collection>
    </resultMap>
    <resultMap id="daisy" type="cn.gson.hui_ren_boot.model.pojos.hospital.Details">
        <id column="details_serial" property="detailsSerial"/>
        <result column="drug_name" property="drugName"/>
        <result column="details_drip" property="detailsDrip"/>
        <result column="datails_dosage" property="datailsDosage"/>
        <result column="daralis_usage" property="daralisUsage"/>
        <result column="daralis_time" property="daralisTime"/>
        <result column="advice_id" property="adviceId"/>
        <result column="daralis_dstate" property="daralisDstate"/>
        <result column="daralis_start" property="daralisStart"/>
        <result column="daralis_price" property="daralisPrice"/>
        <result column="daralis_number" property="daralisNumber"/>
        <result column="standard_use" property="standardUse"/>
        <result column="daralis_mark" property="daralisMark"/>
        <result column="details_money" property="detailsMoney"/>

    </resultMap>
<!--   连表查询医嘱详情-->
    <select id="selAll" resultType="cn.gson.hui_ren_boot.model.pojos.hospital.Details">
        select d.* from details d left join advice a on d.advice_id = a.advice_id where a.ADVICE_COST = 1 and d.REGISTER_ID = #{registerId,jdbcType=VARCHAR}
    </select>
</mapper>