<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.nursestation.SickbedMapper">
    <resultMap id="selSick" type="cn.gson.hui_ren_boot.model.pojos.nursestation.SickbedEntity">
        <id property="sickbedSerial" column="SICKBED_SERIAL"/>
        <result property="sickbedMark" column="SICKBED_MARK"/>
        <result property="sickbedState" column="SICKBED_STATE"/>
        <association property="wardEntity" javaType="cn.gson.hui_ren_boot.model.pojos.nursestation.WardEntity">
            <id property="wardId" column="WARD_ID"/>
            <result property="wardMark" column="WARD_MARK"/>
<!--            <result property="medicalId" column="MEDICAL_ID"/>-->
            <result property="staffId" column="STAFF_ID"/>
            <result property="wardSite" column="WARD_SITE"/>
            <result property="wardBeds" column="WARD_BEDS"/>
            <result property="wardHave" column="WARD_HAVE"/>
            <result property="wardCost" column="WARD_COST"/>
            <result property="wardNursing" column="WARD_NURSING"/>
            <association property="medical" javaType="cn.gson.hui_ren_boot.model.pojos.permissions.Medical">
                <id property="medicalId" column="MEDICAL_ID"/>
                <result property="medicalName" column="MEDICAL_NAME"/>
                <result property="medicalSublevel" column="MEDICAL_SUBLEVEL"/>
            </association>
        </association>
    </resultMap>
<!--    查询病床、科室、病房 -->
    <select id="bingchuang" resultMap="selSick">
        select * from sickbed s LEFT JOIN ward w on s.WARD_MARK = w.WARD_MARK
            LEFT JOIN MEDICAL m on w.MEDICAL_ID = m.MEDICAL_ID
        <where>
            <if test="medicalId != 0 ">
                or w.MEDICAL_ID = #{medicalId}
            </if>
        </where>
    </select>

    <resultMap id="allRegisMapper" type="cn.gson.hui_ren_boot.model.pojos.hospital.Register">
        <id column="REGISTER_SERICA" property="registerSerica"/>
        <result column="REGISTER_ID" property="registerId"/>
        <result column="REGISTER_DATE" property="registerDate"/>
        <result column="REGISTER_NAME" property="registerName"/>
        <result column="REGISTER_SEX" property="registerSex"/>
        <result column="REGISTER_SITE" property="registerSite"/>
        <result column="REGISTER_CARD" property="registerCard"/>
        <result column="REGISTER_PRINT" property="registerPrint"/>
        <result column="REGISTER_AGE" property="registerAge"/>
        <result column="REGISTER_HOME" property="registerHome"/>
        <result column="REGISTER_ADDRESS" property="registerAddress"/>
        <result column="REGISTER_PHONE" property="registerPhone"/>
        <result column="REGISTER_RELATION" property="registerRelation"/>
        <result column="REGISTER_CONTACT" property="registerContact"/>
        <result column="REGISTER_CALL" property="registerCall"/>
        <result column="REGISTER_RECORD" property="registerRecord"/>
        <result column="REGISTER_CLINIC" property="registerClinic"/>
        <!--        科室-->
        <association property="medical" javaType="Medical">
            <id column="MEDICAL_ID" property="medicalId"/>
            <result column="MEDICAL_NAME" property="medicalName"/>
        </association>
        <association property="staff" javaType="Staff" >
            <id column="STAFF_ID" property="staffId"/>
            <result column="STAFF_NAME" property="staffName"/>
        </association>
        <association property="sickbed" javaType="Sickbed">
            <id column="SICKBED_ID" property="sickbedId"/>
            <result column="SICKBED_MARK" property="sickbedMark"/>
            <result column="WARD_MARK" property="wardMark"/>
        </association>
    </resultMap>
<!--    查询病人信息-->
    <select id="registerSelect" resultMap="allRegisMapper">
        select * from register r LEFT JOIN MEDICAL m on r.MEDICAL_ID = m.MEDICAL_ID
            LEFT JOIN staff s on r.STAFF_ID = s.STAFF_ID
    </select>
</mapper>