<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.drug.PaymentFormsMapper">

    <!-- 查询药品每个月的销售金额 -->
    <select id="allPaymentForm" resultType="cn.gson.hui_ren_boot.model.pojos.permissions.PaymentFormVo">
        select extract (month from payment_time)||'月' as paymentTime ,sum(payment_money) as paymentMoney from payment_form group by extract (month from payment_time) order by extract (month from payment_time)
    </select>


    <!-- 查询药品上月销售额 -->
    <select id="allPayment" resultType="cn.gson.hui_ren_boot.model.pojos.permissions.PaymentFormVo">
        select extract (month from payment_time)||'月' as paymentTime ,sum(payment_money) as paymentMoney from payment_form
        where payment_time &lt; trunc(sysdate,'month')-1
        group by extract (month from payment_time) order by extract (month from payment_time)
    </select>

    <!-- 查询用户数量 -->
    <select id="allStaffSum" resultType="_int">
        select count(*) as staffSum from staff
    </select>
    <!-- 查询药品数量 -->
    <select id="allStockSurplus" resultType="_int">
        select sum(stock_surplus) as stockSurplus from drug_stock
    </select>
    <!-- 查询收费总金额 -->
    <select id="allPaymentMoneys" resultType="double">
        select sum(payment_money) as paymentMoneys from payment_form
    </select>

</mapper>