<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hui_ren_boot.model.mapper.drug.WareHouseEntryMapper">

    <!-- 新增入库单 -->
    <insert id="addWareHouseEntry">
        insert into warehouse_entry values (seq_huiren.nextval,#{entrySerial},#{entryDate},#{entryPharmacy},#{entryBatch},#{entryOrder})
    </insert>
</mapper>